@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  font-family: "Roboto";
  font-size: medium;
  color: #656565;
  background-color: #f0f0f0;
}

h2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-top: 25px;
}

form {
  margin-bottom: 20px;
}

.div-form {
  margin: 2%;
  background-color: #ffffff;
  border: 2px solid rgb(133, 133, 133);
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 6px -1px rgba(0, 0, 0, 0.64);
  box-shadow: 3px 3px 6px -1px rgba(0, 0, 0, 0.64);
}

.flex-container {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: baseline;
  margin: 20px;
  margin-left: 25%;
  margin-right: 25%;
}

.label-left {
  flex-grow: 0;
  margin-right: 25px;
}

.text-box-right {
  flex-grow: 1;
  height: 30px;
  border: 1px solid #656565;
  border-radius: 4px;
  /* -webkit-box-shadow: 3px 3px 6px -1px rgba(0,0,0,0.64); 
    box-shadow: 3px 3px 6px -1px rgba(0,0,0,0.64); */
}

.calendar-right {
  height: 25px;
  border: 1px solid #656565;
  border-radius: 4px;
  /* -webkit-box-shadow: 3px 3px 6px -1px rgba(0,0,0,0.64); 
    box-shadow: 3px 3px 6px -1px rgba(0,0,0,0.64); */
}

.select-box {
  padding: 7px;
  width: 15em;
}

.horizontal-radio {
  margin-left: 15px;
  margin-right: 7px;
}

.horizontal-checkbox {
  margin-right: 10px;
}

.flex-container-submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-button {
  width: 10em;
  height: 2em;
  margin-bottom: 20px;
  font-size: large;
  color: #656565;
  /* -webkit-box-shadow: 3px 3px 6px -1px rgba(0,0,0,0.64); 
    box-shadow: 3px 3px 6px -1px rgba(0,0,0,0.64); */
}

/* Tabela */

.div-table {
  margin: 2%;
  background-color: #ffffff;
  border: 2px solid;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 6px -1px rgba(0, 0, 0, 0.64);
  box-shadow: 3px 3px 6px -1px rgba(0, 0, 0, 0.64);
  padding: 10px;
}

table {
  width: 90%;
  min-width: 40%;
  height: 30px;
  margin: 0px 5% 2% 5%;
  border-collapse: collapse;
  font-size: large;
}

tr:nth-child(odd) {
  background-color: #ebebeb;
}

/* Por algum motivo o background color não se aplica ao tfoot
   tive que aplicar nas colunas (td) */
th,
tfoot td {
  background-color: #ffffff;
  font-weight: bold;
}

td,
th {
  text-align: left;
  padding: 10px 0px 10px 10px;
  border-bottom: 1px solid #ddd;
  height: 50px;
}

.delete-button {
  width: 85px;
  height: 40px;
  color: #f0f0f0;
  font-size: medium;
  background-color: rgb(218, 57, 57);
  border: none;
  border-bottom: 1px solid rgb(158, 158, 158);
  border-right: 1px solid rgb(158, 158, 158);
  border-radius: 5px;
}

.delete-button:active {
  background-color: rgb(255, 50, 50);
}

.click-row {
  cursor: pointer;
}

tr:hover {
  background-color: rgb(213, 230, 238);
}
