.div-table {
  margin: 2%;
  background-color: #ffffff;
  border: 2px solid;
  border-radius: 10px;
}

table {
  width: 90%;
  min-width: 40%;
  margin: 0px 5% 2% 5%;
  border-collapse: collapse;
  font-size: large;
}

tr:nth-child(odd) {
  background-color: #ebebeb;
}

/* Por algum motivo o background color não se aplica ao tfoot
     tive que aplicar nas colunas (td) */
th,
tfoot td {
  background-color: #ffffff;
  font-weight: bold;
}

td,
th {
  text-align: center;
  padding: 10px 0px 10px 10px;
  border-bottom: 1px solid #ddd;
}

.confirm-button,
.delete-button,
.edit-button,
.cancel-button {
  width: 75px;
  height: 35px;
  color: #f0f0f0;
  font-size: medium;
  background-color: rgb(218, 57, 57);
  border: none;
  border-bottom: 2px solid rgb(158, 158, 158);
  border-right: 2px solid rgb(158, 158, 158);
  border-radius: 5px;
}

.edit-button,
.confirm-button {
  background-color: rgb(53, 62, 199);
  margin-bottom: 10px;
}

.confirm-button,
.cancel-button {
  width: 5.5em;
  background-color: rgb(45, 158, 45);
}

.cancel-button {
  background-color: rgb(131, 131, 131);
}

.click-row,
.select-box,
.calendar-right,
.horizontal-radio,
.horizontal-checkbox,
.delete-button:hover,
.edit-button:hover,
.confirm-button:hover,
.cancel-button:hover,
.edit-box:hover,
.edit-date:hover {
  cursor: pointer;
}

.delete-button:hover {
  background-color: rgb(184, 53, 53);
}

.edit-button:active,
.delete-button:active,
.confirm-button:active,
.cancel-button:active {
  border-bottom: none;
  border-right: none;
}

tbody > tr:hover {
  background-color: rgb(213, 230, 238);
  color: rgb(0, 92, 134);
}

.action-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-name,
.edit-email,
.edit-date {
  flex-grow: 1;
  height: 1.5em;
  border: 1px solid #656565;
  border-radius: 4px;
}

.edit-box {
  border-radius: 4px;
  padding: 4px;
}

.edit-name {
  max-width: 7em;
}

.edit-email {
  max-width: 11.75em;
}

.edit-date {
  max-width: 10em;
}

.edit-sexo {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
