.container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.img {
  width: 350px;
  height: 350px;
  padding-top: 100px;
}

.timer {
  font-size: 100px;
  margin-top: -210px;
}

.button-area {
  margin-top: 150px;
  display: flex;
}

.button {
  width: 150px;
  background-color: #fff;
  font-size: 20px;
  text-align: center;
  border-radius: 7px;
  margin: 0 15px 0 15px;
  cursor: pointer;
  padding: 7px;
}

.button:hover {
  background-color: rgb(217, 241, 255);
  color: rgb(0, 61, 85);
  transition: all 0.5s;
}
