.divtable {
  display: flex;
  align-items: left;
  justify-content: left;
  margin: 2em 0em 0em 10%;
}

table {
  width: 90%;
  border: 1px solid #000;
  padding: 2em;
}

td {
  padding: 5px;
}

th {
  font-size: 3em;
}

.next-button {
  display: flex;
  align-items: right;
  justify-content: right;
}
